.cart {
  display: grid;
  gap: 2em;

  &__title {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__total-price {
    justify-self: center;
    font-size: 18px;
  }

  &__btn-submit {
    justify-self: center;
    font-weight: 600;
    border-radius: 20px;
    width: 150px;
    padding: 1em;
    background: rgb(250, 235, 215);

    &:hover {
      background: rgba(0, 0, 216, 0.856);
      color: rgb(255, 255, 255);
      transition: color 0.5s background 0.5s;
    }

    &:disabled {
      background: rgb(128, 128, 128);
      color: #000;
    }
  }
}