* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: #000;
}

p {
  margin: 0;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

ul, 
li {
  display: block;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  color: #000;
}

input {
  outline: none;
}